{% extends 'ekart/layouts/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Employee | Portal{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'staticfiles/css/style.css' %}">
</head>
<body >
  {% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <h1>Employee Web Page</h1>
      <img src="{% static 'staticfiles\imgs\zoo.jpg' %}" alt="Employee Image" width="200%" height="550px">
    </div>
  </div>
  {% endblock %}
</body>
</html>
