{% extends 'ekart/layouts/main.html' %}
{% block title %}
    Employee | Login    
{% endblock title %}
{% block content %}
<div class="container" style="margin-top:70px; min-height:600px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <h4 class="mb-3 text-center">User Login</h4>
            <hr style="border-color:antiquewhite">
            {% include 'ekart/inc/message.html' %}
            <section class="py-4">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter User Name">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
