{% extends 'ekart/layouts/main.html' %}
{% block title %}
    Register | Login    
{% endblock title %}
{% block content %}
<div class="container" style="margin-top:70px; min-height:600px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <h4 class="mb-3 text-center">New User Registration</h4>
            <hr style="border-color:#b8bfc2">
            {% include 'ekart/inc/message.html' %}
            <section class="py-4">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label">Username</label>
                        {{ form.username }}
                        {% if form.errors.username %}
                        <label class="text-danger d-block">{{ form.errors.username }}</label>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label">User Email</label>
                        {{ form.email }}
                        {% if form.errors.email %}
                        <label class="text-danger d-block">{{ form.errors.email }}</label>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label for="password1" class="form-label">Password</label>
                        {{ form.password1 }}
                        {% if form.errors.password1 %}
                        <label class="text-danger d-block">{{ form.errors.password1 }}</label>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label for="password2" class="form-label">Confirm Password</label>
                        {{ form.password2 }}
                        {% if form.errors.password2 %}
                        <label class="text-danger d-block">{{ form.errors.password2 }}</label>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </form>
                <p class="my-2 text-center">Already a user? <a href="{% url 'login' %}">Login Now</a></p>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
